@font-face {
    font-family: 'ProximaRegular';
    src: url('fonts/Mark Simonson - Proxima Nova Regular.ttf.ttf')
            format('truetype'),
        url('fonts/Mark Simonson - Proxima Nova Regular.otf.otf')
            format('opentype');
}

// Your variable overrides
$font-family-base: 'ProximaRegular';
$font-size-base: 0.9375rem;
$font-size-lg: 0.9375rem;
$font-size-sm: 0.9375rem;
// $enable-rounded: false;

$theme-colors: ('primary': #9e1b32);

$btn-border-radius: 0.15rem;

input[type='radio']:after {
    width: 16px;
    height: 16px;
    top: -2px;
    left: -1px;
    position: relative;
    background-image: url('../assets/16-radio-button-not-selected.svg');
    content: '';
    display: inline-block;
    visibility: visible;
    border: none;
}

input[type='radio']:checked::after {
    width: 16px;
    height: 16px;
    top: -2px;
    left: -1px;
    position: relative;
    background-image: url('../assets/16-radio-button.svg');
    content: '';
    display: inline-block;
    visibility: visible;
    border: none;
}
