input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type='number'] {
    -moz-appearance: textfield;
}

@import 'custom';
@import 'bootstrap/scss/bootstrap';
@import '~react-select/dist/react-select.css';
