@import 'colours';

.SingleDatePickerInput__withBorder {
    border-radius: 0.25rem;
    border-color: rgba(0, 0, 0, 0.15);
}

.DateInput {
    width: 80%;
}

.DateInput_input {
    font-size: 14px !important;
    padding: 0 !important;
    padding-top: 5px !important;
}

.DateInput_input__focused {
    border-color: transparent;
}

.SingleDatePickerInput_calendarIcon {
    padding: 8px !important;
}

.SingleDatePickerInput_clearDate {
    margin-right: 0px !important;
}

.SingleDatePickerInput_clearDate__default:hover {
    background: transparent !important;
}

.SingleDatePickerInput_clearDate__default:focus {
    background: transparent !important;
}

.DayPickerNavigation_button__default {
    border: 1px solid $jaguarRed;
    background-color: $jaguarRed;
    color: $jaguarWhite;
}

.DayPickerNavigation_svg__horizontal {
    height: 19px;
    width: 19px;
    fill: $jaguarWhite;
}

.CalendarMonth_caption strong {
    color: $jaguarRed;
}

.CalendarDay__highlighted_calendar {
    background: $jaguarRed;
    color: $jaguarWhite;
}

.SingleDatePickerInput_clearDate_svg__small {
    fill: none;
    height: 14px;
    background-image: url('../assets/delete.svg');
    background-position: center;
}
